@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap");

$body-font: "Karla", sans-serif;
$first-color: #f3d8dc;
$second-color: #e6b2b9;
$color-btn: #842f3b;
$color-title: #be4153;
$dark-color: #363334;

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  background-color: $first-color;
  color: $dark-color;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

h2,
span {
  color: $color-btn;
}

h3 {
  font-size: 1.688rem;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  background-color: $first-color;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375em;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

header {
  padding: 4.75em 1.75em 1.75em;
}

main {
  text-align: center;
  margin-bottom: 1.75em;
}

#nav-icon {
  font-size: 1.25rem;
}

#news-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25em 1.75em;
  display: grid;
  gap: 1.25em;
}

#container {
  text-align: center;
  background-color: $second-color;
  border-radius: 0.25rem;
  padding: 1.5em;
}

#container > p {
  margin: 0.75em 0;
}

button {
  background-color: $color-btn;
  color: #fff;
  font-family: $body-font;
  font-weight: 400;
  padding: 0.75em 1.25rem;
  border: none;
  border-radius: 0.25rem;
  transition: 0.3s;
  box-shadow: 0px 15px 20px rgba(55, 56, 56, 0.08);
  cursor: pointer;
}

button > a {
  color: #fff;
}

button:active {
  transform: translateY(4px);
}

#load-more-btn {
  background-color: $color-title;
  border: none;
  visibility: hidden;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  visibility: hidden;
}

footer > p,
#social {
  font-size: 14px;
}

#social {
  display: flex;
  justify-content: space-between;
  gap: 0.4375em;
}

.social-icons {
  font-size: 16px;
}

.bx {
  color: $color-title;
}

.bx:hover {
  color: $dark-color;
}

#loading {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 5px solid #e1e8f3;
  border-top: 6px solid $color-btn;
  border-radius: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.125rem;
  }

  #news-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  #news-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
